[Desktop Entry]
Categories=Settings;
Comment=Installer for Lingmo OS
Exec=lingmo-installer-pkexec
Icon=lingmo-installer
Name=Install Lingmo
StartupNotify=false
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.21
X-MultipleArgs=false

# Translations
Comment[am]=ለ ሊነክስ መግጠሚያ
Name[am]=መግጠሚያ
Comment[ar]=  تثبيت إلى لينكس دييبن
Name[ar]=تنصيب دييبن
Comment[az]=Lingmo OS üçün quraşdırıcı
Name[az]=Lingmo-i Quraşdır
Comment[cs]=Instalátor pro Lingmo OS
Name[cs]=Nainstalovat Lingmo
Comment[da]=Installationsprogram for Lingmo OS
Name[da]=Installer Lingmo
Comment[de]=Lingmo OS Installationsprogramm
Name[de]=Lingmo installieren
Comment[el]=Βοηθός Εγκατάστασης για το Lingmo OS
Name[el]=Εγκατάσταση του Lingmo
Comment[es]=Instalador para Lingmo OS
Name[es]=Instalar Lingmo
Comment[fi]=Lingmo OS asennusohjelma
Name[fi]=Asenna Lingmo
Comment[fr]=Installateur pour Lingmo OS
Name[fr]=Installer Lingmo
Comment[es_CL]=Instalar Lingmo OS
Name[es_CL]=Instalar Lingmo
Comment[he]=מתקין עבור Lingmo OS
Name[he]=התקן את Lingmo
Comment[hr]=Instalacijski program za Lingmo OS
Name[hr]=Instaliraj Lingmo
Comment[hu]=Lingmo OS telepítő 
Name[hu]=Lingmo telepítése 
Comment[hy]=Lingmo OS-ի տեղադրիչ
Name[hy]=Տեղադրել Lingmo
Comment[id]=Installer untuk Lingmo OS
Name[id]=Pasang Lingmo
Comment[it]=Installer per Lingmo Linux
Name[it]=Installa Lingmo OS
Comment[ja]=インストーラー
Name[ja]=インストール
Comment[ms]=Pemasang untuk Lingmo OS
Name[ms]=Pasang Lingmo
Comment[nl]=Lingmo OS-installatieprogramma
Name[nl]=Lingmo installeren
Comment[es_419]=Instalador para Lingmo OS
Name[es_419]=Instalar Lingmo
Comment[pl]=Instalator Lingmo OS
Name[pl]=Zainstaluj Lingmo
Comment[pt]=Instalador de Lingmo OS
Name[pt]=Instalar Lingmo
Comment[pt_BR]=Instalador para Lingmo OS
Name[pt_BR]=Instalar Lingmo
Comment[ro]=Instalator Lingmo OS
Name[ro]=Instalarea Lingmo
Comment[ru]=Установщик Lingmo OS
Name[ru]=Установить Lingmo
Comment[sk]=Inštalátor pre Lingmo OS
Name[sk]=Inštalovať Lingmo
Comment[sl]=Installer za Lingmo OS
Name[sl]=Namesti Lingmo
Comment[tr]=Lingmo OS için Kurucu
Name[tr]=Lingmo Kur
Comment[uk]=Встановлювач Lingmo OS
Name[uk]=Встановити Lingmo
Comment[zh_CN]=Lingmo OS安装器
Name[zh_CN]=安装Lingmo
Comment[zh_TW]=Lingmo 作業系統安裝程式
Name[zh_TW]=安裝 Lingmo
Comment[es_AR]=Instalador de Lingmo OS
Name[es_AR]=Instalar Lingmo
Comment[en_AU]=Lingmo OS Installer
Name[en_AU]=Install Lingmo
Comment[es_ES]=Instalador de Lingmo OS
Name[es_ES]=Instalar Lingmo
